{% extends "../layout.html" %}

{% block title %}a.Login{% endblock %}

{% block content %}
    {% if flash.error %}
    <span class="form__element form__element_error">{{ flash.error }}</span>
    {% endif %}
    <form action="/login" method="POST" class="login-form">
        <div class="login-form__fields">
            <input type="text"
                   class="form__element form__element_input"
                   placeholder="login"
                   name="username"
                   value="{{ flash.oldForm.login }}">
            <input type="password"
                   class="form__element form__element_input"
                   placeholder="password"
                   name="password">
            <input type="hidden" name="_csrf" value="{{ csrf }}">
        </div>
        <div>
            <input type="submit" class="form__element form__element_button" value="login"></input>
        </div>
    </form>
{% endblock %}